<div class="terms-container">
<h1>Terms & Conditions</h1>
<p>Please review our information, legal terms
and privacy policy before using the Site</p>
<p>TERMS AND CONDITIONS OF USE</p>
<p>PLEASE CAREFULLY READ THESE TERMS AND CONDITIONS, INCLUDING OUR PRIVACY POLICY, BEFORE USING THE WEBSITE, FIDONCE BLOG,FIDONCE-BRANDED SOCIAL MEDIA WEBSITES (IN ADDITION TO ANY TERMS AND CONDITIONS OF SUCH SOCIAL MEDIA WEBSITES), MOBILE APPS OR ANY OF OUR ONLINE SERVICES (collectively, the "Services"). BY ACCESSING OR USING THE SERVICES, YOU ("USER") AGREE TO BE LEGALLY BOUND BY THESE TERMS AND CONDITIONS. IF YOU DISAGREE WITH ANY OF THE FOLLOWING TERMS OR CONDITIONS, PLEASE DO NOT USE THE SERVICES<br><br>

FIDONCE, LLC ("FIDONCE") OWNS AND OPERATES THE SERVICES. FIDONCE RESERVES THE RIGHT TO CHANGE ANY TERMS OR CONDITIONS WITHOUT NOTICE, EFFECTIVE UPON THEIR POSTING. FIDONCE OR ITS SERVICE PROVIDERS, PARENTS, AFFILIATES AND BUSINESS ASSOCIATES MAY IMPOSE LIMITS ON CERTAIN FEATURES AND SERVICES OR RESTRICT YOUR ACCESS TO PARTS OR ALL OF THE SERVICES WITHOUT NOTICE OR LIABILITY; LAF MAY ALSO TERMINATE YOUR USE OF THE SERVICES AT ANY TIME IN ITS SOLE DISCRETION.<br><br>

<b>Use of Services; Ownership of Intellectual Property Rights</b>
<br>
<br>

All text, photographs, images, illustrations, artwork, audio and video clips, design, software, graphic material, trademarks, service marks and trade names, and all intellectual property rights in and to such items (hereinafter "Content") constitute the sole and exclusive property of FIDonce or its subsidiaries, affiliates, licensors and content providers. The User is granted a personal, non-exclusive, non-assignable and non-transferable license to use the Content for non-commercial and personal, informational use only. The following acts are additionally prohibited without FIDonce's prior written approval: copying of the Services or the Content or any portion, variations or derivatives thereof; reproduction, modification, creation of derivative works, display, performance, publication, distribution, dissemination, broadcast or circulation of any Content, in whole or in part (including without limitation, the display and distribution of the Content via a third party application or Web site); and disassembling, decompiling, reverse engineering or otherwise modifying the Content.<br>
<br>

FIDonce, LLC is the owner of the trademark FIDonce ®.<br>
<br>

<b>Additional User Conduct Guidelines</b><br><br>


FIDonce requests that the User not impede or inhibit any other User from using and enjoying the Services. Therefore, in using the Services, you agree not to: disrupt or interfere with the security of, or otherwise abuse, the Services, system resources, accounts, servers or networks connected to or accessible through the Services or affiliate linked websites/services; upload, post, or otherwise transmit through or on the Services any viruses or other harmful, disruptive or destructive files; use or attempt to use another's account, service or system, or link to another site, without authorization from FIDonce, or create or use a false identity on the Services; or transmit through or on the Services spam, chain letters, junk mail or other types of unsolicited mass e-mail to people or entities who have not agreed to be part of such mailings.<br><br>


FIDonce reserves the right to remove any content that it in its sole discretion believes is infringing, defamatory, illegal or offensive, or otherwise as may be permitted under the Digital Millennium Copyright Act or other applicable law. Further, any unauthorized or prohibited use may additionally subject the offender to civil liability and criminal prosecution under applicable federal and state laws.<br>
<br>

<b>Disclaimers</b>
<br><br>


USER EXPRESSLY AGREES THAT USE OF THE SERVICES IS AT USER'S SOLE RISK. NEITHER FIDONCE, ITS PARENTS, AFFILIATES, EMPLOYEES, AGENTS, SERVICE PROVIDERS, THIRD PARTY INFORMATION PROVIDERS, LICENSORS OR THE LIKE, WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED, SECURE OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES, OR AS TO THE ACCURACY, RELIABILITY, SECURITY OR CONTENT OF ANY INFORMATION OR SERVICE CONTAINED IN OR PROVIDED THROUGH THE SERVICES.<br><br>


THE SERVICES, ALL CONTENT AND INFORMATION PROVIDED THEREIN, AND ALL DOWNLOADABLE SOFTWARE IS PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, AND ALL SUCH WARRANTIES, WHETHER ORAL OR WRITTEN, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE ARE HEREBY DISCLAIMED AND EXPRESSLY NEGATED. NO ORAL ADVICE OR WRITTEN INFORMATION GIVEN BY FIDONCE, ANY OF ITS PARENTS, AFFILIATES, EMPLOYEES, AGENTS OR ANY SERVICE PROVIDERS, THIRD PARTY INFORMATION PROVIDERS; LICENSORS OR THE LIKE, SHALL CREATE A WARRANTY; NOR SHALL USER RELY ON ANY SUCH INFORMATION OR ADVICE. USER HEREBY ACKNOWLEDGES THAT FIDONCE IS NOT RESPONSIBLE FOR ANY INTERCEPTED INFORMATION SENT VIA THE INTERNET, AND USER RELEASES FIDONCE FROM ANY AND ALL CLAIMS ARISING OUT OF OR RELATED TO THE USE OF INTERCEPTED INFORMATION IN ANY UNAUTHORIZED MANNER.<br><br>


<b>Limitation of Liability</b><br><br>


UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL FIDONCE, ITS PARENTS, AFFILIATES, EMPLOYEES, AGENTS OR ANY THIRD PARTY INFORMATION PROVIDER, SERVICE PROVIDERS, LICENSOR, OR ANYONE ELSE INVOLVED IN CREATING, PRODUCING OR DISTRIBUTING THE SERVICES, BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, EXEMPLARY, ECONOMIC, PUNITIVE, LOST PROFIT, SPECIAL OR CONSEQUENTIAL DAMAGES OR FOR ANY DAMAGES THAT RESULT FROM OR ARE RELATED TO THE USE OF OR INABILITY TO USE THE SERVICES; OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES, ERRORS, DEFECTS, DELAYS IN OPERATION, OR TRANSMISSION, OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT LIMITED TO ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT OR DESTRUCTION.<br><br>


<b>This Applies to Apps, Too</b><br><br>


All of these Terms and Conditions apply to our apps, too. Use of our apps is also at your own risk. They are provided as a service to our members and guests without charge, and we disclaim any and all responsibility for them. We do not screen our users, so please use good judgment and common sense in deciding whom to meet or trust with your personal information. We do not provide contact details to other members through any of our apps and instead route all messages through us. If at any time you wish to stop receiving messages from another member through one of our apps, you can just “block” them. You can also report threats, abuse or any other inappropriate conduct by contacting info@fidonce.com.<br><br>


<b>Indemnification</b><br><br>


The User agrees to indemnify, defend and hold harmless, FIDonce, its parents, affiliates, employees, agents, third party information providers, service providers, licensors or the like and their respective officers, directors, employees, agents, licensors, representatives, and third party providers to the Services from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of these Terms and Conditions by the User. FIDonce reserves the right to assume, at its sole expense, the exclusive defense and control of any matter subject to indemnification by User, in which event User will fully cooperate with FIDonce in asserting any available defenses.<br><br>


<b>Third Party Links and Sites</b><br><br>


The Services may contain links to other Internet sites, resources and/or sponsors of the Services. FIDonce does not verify, warrant, endorse, or take responsibility for the availability, accuracy, completeness or quality of the content contained in these outside sites or resources. Providing links to outside sites does not constitute FIDonce's approval of the content, policies or practices of those other sites. Be sure to review the terms of use and privacy policies posted on the outside sites or resources after utilizing them.<br><br>


In order to identify third party sites or resources, the Services may make use of third party trademarks, images or branding. Usage of these items does not imply endorsement or certification by the third party. Logos and trademarks displayed within the Services are the property of their respective owners and are used in accordance with existing agreements between FIDonce and the third party or by usage guidelines and policies set forth by the third party.

<br><br>


If there are updates to the terms of FIDonce's online Privacy Policy, FIDonce will post those changes and update the revision date on this document, so Users will always know what information we collect online, how we use it, and what choices you have. For material changes to this Privacy Policy, FIDonce will provide notification to the Users of the Services. FIDonce will not apply changes to how personally identifiable information is used or disclosed to information already collected absent consent, except as permitted by applicable law.<br><br>


<b>Other</b>
<br>
<br>

These Terms and Conditions of Use shall be governed by, construed and enforced in accordance with the laws of the State of Pa. and the federal laws of the United States of America. Users agree to submit to the personal and exclusive jurisdiction of the state or federal courts located within the State of Pa for any disputes arising from or related to the Services or these Terms and Conditions of Use. These Terms and Conditions are not intended to alter the terms or conditions of any other agreement you may have with FIDonce or its affiliates, parents, service providers or business associates to the extent that those agreements govern issues other than your use of the Services. Should any provision in these Terms and Conditions be found invalid or unenforceable for any reason, that provision shall be deemed severable from the terms and shall not affect validity or enforceability of the remaining provisions. These Terms and Conditions may not be altered by action, inaction or course of dealing between the parties. These Terms and Conditions may only be altered by (a) prior written mutual agreement between FIDonce and User; or (b) FIDonce posting revisions on the Services. Failure by FIDonce to object to a User's behavior, conduct or action does not constitute a consent, ratification or waiver of objection.
</p>


</div>