<style type="text/css">
	.home-bg {
		background-image: url(https://s3.amazonaws.com/fidonce/B-ball.jpg);
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	}
</style>
<div class="home-bg">
	<div class="intro-text">
		<p>We don't</p>
		<p>Train the best</p>
		<p>Atheletes.</p>
		<p>We produce them.</p>
	</div>

	<div class="large-icons">
		<div class="icons-left">
			<div class="icon-left1">
				<p>Start with</p>
				<p>anything</p>
			</div>
			<div class="icon-left2">
				<p>CUSTOMIZED</p>
				<p>WORKOUT PLAN,</p>
				<p>PROVIDING</p>
				<p>ON GOING</p>
				<p>MOTIVATION</p>
				<p>AND SUPPORT</p>
			</div>
		</div>
		<div class="icons-right">
			<div class="bubble-left icon-bubble" style="border-bottom: 1px solid rgba(0,0,0,0.3);">
				<p><b>REGISTER</b></p>
				<div class="icon-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png);"></div>
				<p>Lets Get in TheLAB</p>
				<p>& register with</p>
				<p>MindBody Online</p>
				
			</div>
			<div class="bubble-right icon-bubble" style="border-bottom: 1px solid rgba(0,0,0,0.3);">
				<p><b>TRAINERS</b></p>
				<div class="icon-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png);"></div>
				<p>Get to know our</p>
				<p>Inspiration makes</p>
				<p></p>
			
			</div>
			<div class="bubble-left icon-bubble">
				<p><b>SUIT UP!</b></p>
				<div class="icon-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png);"></div>
				<p>Get the 411</p>
				<p>on Training Sessions</p>
				<p></p>
				
				
			</div>
			<div class="bubble-right icon-bubble">
				<p><b>THE LAB</b></p>
				<div class="icon-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png);"></div>
				<p>Welcome to where</p>
				<p>we produce the</p>
				<p>best Atheletes</p>
			</div>
		
		

		</div>

	</div>

	<div class="steps">
		<div class="step-div">
			<p>Your Accountable</p>
			<div class="icon-logo" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/fidonce-account-icon.png);"></div>
				<p style="opacity: 0;"> asd</p>
			<p1>Trainers provide necessary accountibility and motivation to maximize results.</p1>
		</div>
		<div class="step-div">
			<p>Teaching VS Showing</p>
			<div class="icon-logo" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/fidonce-teach-icon2.png);"></div>
				<p style="opacity: 0;"> asd</p>
			<p1>Trainers teach the principal of exercises that stay with you for life. Not just showing you exercise machines.</p1>
		</div>
		<div class="step-div">
			<p>Weakness VS Strength</p>
			<div class="icon-logo" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/fidonce-SvsW-icon.png);"></div>
				<p style="opacity: 0;"> asd</p>
			<p1>Trainers find your weakness and strengths to develop a program specific to your needs.</p1>
		</div>
		<div class="step-div">
			<p>Set A Pace</p>
			<div class="icon-logo" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/fidonce-set-icon.png);"></div>
				<p style="opacity: 0;"> asd</p>
			<p1>Trainers will supply a pace and intensity level thats required to get into great shape.</p1>
		</div>
		<div class="step-div" style="border-left: none;">
			<p>We Cross Train</p> 
			<div class="icon-logo" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/fidonce-cross-icon2.png);"></div>
				<p style="opacity: 0;"> asd</p>
			<p1>Trainers use effective workouts based upon your specific goals.</p1>
		</div>
	</div>
</div>

<div class="paths-body">
	<div class="dot-overlay">
	<p class="paths-left">There are many paths to becoming a great Athelete. <i style="color:#f7941e;">Fidounce</i> make's sure you get there.</p>
	</div>

</div>

