<link rel="stylesheet" type="text/css" href="/assets/lightbox.min.css">

<div class="store-container">
	<div class="lab-logo"></div>

	
	<div class="item-row">
		<div class="item1">
			<a href="https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidonceShirtslongsleeve2.png" data-lightbox="image-1" data-title="">
			<div class="item-bg" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidonceShirtslongsleeve2.png);"></div>
			</a>
			<p>Buy</p>
		</div>
		<div class="item2">
			<a href="https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidonceShirtsshortsleeve2.jpg" data-lightbox="image-2" data-title="">
			<div class="item-bg" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidonceShirtsshortsleeve2.jpg);"></div>
			</a>
			<p>Buy</p>
		</div>
	</div>
	<div class="item-row">
		<div class="item3">
			<a href="https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidoncehoodieFullZip2.png" data-lightbox="image-3" data-title="">
			<div class="item-bg" style="background-image: url(https://s3-us-west-2.amazonaws.com/amidomination/FIDONCE/ReebokFidoncehoodieFullZip2.png);"></div>
			</a>
			<p>Buy</p>
		</div>
		<!-- <div class="item2">
			<a href="https://s3.amazonaws.com/fidonce/long1.jpg" data-lightbox="image-4" data-title="">
			<div class="item-bg" style="background-image: url(https://s3.amazonaws.com/fidonce/long1.jpg);"></div>
			</a>
			<p>Buy</p>
		</div>
	</div>
	<div class="item-row">
		<div class="item1">
			<a href="https://s3.amazonaws.com/fidonce/hoodie1.jpg" data-lightbox="image-5" data-title="">
			<div class="item-bg" style="background-image: url(https://s3.amazonaws.com/fidonce/hoodie1.jpg);"></div>
			</a>
			<p>Buy</p>
		</div>
		<div class="item2">
			<a href="https://s3.amazonaws.com/fidonce/hoodie2.jpg" data-lightbox="image-6" data-title="">
			<div class="item-bg" style="background-image: url(https://s3.amazonaws.com/fidonce/hoodie2.jpg);"></div>
			</a>
			<p>Buy</p></i>
		</div> -->
	</div>
</div>

<script type="text/javascript" src="<%= asset_path 'lightbox-plus-jquery.js' %>"></script>